page-by-page tushare data fetching-20250802.json
{
  "name": "测试工作流",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -112
      ],
      "id": "c72cd715-156a-43f2-81fa-c025618a6dbf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "apiName": "stock_company",
        "params": {
          "parameters": {
            "inputMode": "json",
            "jsonParams": "={\n  \"offset\": {{ $json.offset || 0}},\n  \"limit\": 1\n}"
          }
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-tushare.tushare",
      "typeVersion": 1,
      "position": [
        -48,
        -112
      ],
      "id": "b4eabb20-5092-49de-856f-667da3a03706",
      "name": "Tushare",
      "credentials": {
        "tushareApi": {
          "id": "ohNqE0FWsh5O26bj",
          "name": "Tushare account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66561e84-ffe2-4a84-9fb2-828c1d340f1e",
              "leftValue": "={{ $json.data.has_more }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1ed04bcd-5335-4ab1-b04c-ec63437f0977",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -240
      ],
      "id": "820817fe-45b9-4299-b03f-dfe2d4844e88",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst offset = $input.first().json.data.items.length\n\nreturn {'offset': offset * ($runIndex+1)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -144
      ],
      "id": "7e77822b-de39-4e5f-831f-0d6ca1b8e081",
      "name": "Get Offset"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        -144
      ],
      "id": "09399021-b0a3-4609-ad7f-77289edc8c1d",
      "name": "Wait",
      "webhookId": "e95caa30-b318-4ca4-b464-903ef5bebc03"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        544,
        -352
      ],
      "id": "a43ea468-f09d-4d00-9708-dd6556e59519",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "/** @type {Array<{request_id: string, code: number, data: JSON, msg: string}>} */\nlet results = [];\nlet i = 0;\n\ndo {\n  try {\n    // @ts-ignore\n    results = results.concat($(\"Tushare\").all(0, i)['data']);\n  } catch (error) {\n    return results;\n  }\n  i++;\n} while (true);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -352
      ],
      "id": "4a262bef-3d3d-4c2d-a81e-58fd1edf9c60",
      "name": "Combine All Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tushare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tushare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Offset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Offset": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Tushare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Combine All Data": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8539a373-49c6-4742-bc97-ba142d6acdc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b496150841483df09747a25f479a6e6cb04c07854a3a873184d83eedf527a4e8"
  },
  "id": "EGEdiL1zNmSzyFHY",
  "tags": []
}