workflows/tushare/page-by-page tushare data fetching.json
{
  "name": "Tushare分页下载数据",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        -112
      ],
      "id": "86d18b9e-a15b-4209-a5e1-9808844841dc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "66561e84-ffe2-4a84-9fb2-828c1d340f1e",
              "leftValue": "={{ $json.data.has_more }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        -240
      ],
      "id": "5baeb7f4-56ac-4885-9e30-31a76018f73c",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst offset = $input.first().json.data.items.length\n\nreturn {'offset': offset * ($runIndex+1)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -144
      ],
      "id": "23b78e49-8851-4f9b-92c4-11ee1b9ddc9c",
      "name": "Get Offset"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        -144
      ],
      "id": "b14ec9df-066d-457a-b0ff-0eef365062f7",
      "name": "Wait",
      "webhookId": "e95caa30-b318-4ca4-b464-903ef5bebc03"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        -352
      ],
      "id": "20f95e4b-b04c-46c7-862e-b6ef49f8edd9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "/** @type {Array<{request_id: string, code: number, data: JSON, msg: string}>} */\nlet results = [];\nlet i = 0;\nlet hasMoreData = true;\n\nwhile (hasMoreData) {\n  try {\n    const newData = $(\"Tushare-StockInfo\").all(0, i);\n    if (newData && newData.length > 0) {\n      // @ts-ignore\n      results = results.concat(newData);\n      i++;\n    } else {\n      hasMoreData = false;\n    }\n  } catch (error) {\n    hasMoreData = false;\n  }\n}\n// @ts-ignore Get Fields\nconst fileds = results[0].json.data.fields\n// @ts-ignore\nconst datas = results.flatMap(item => item.json.data.items);\nconst final_data = {'fields':fileds, 'datas':datas};\n\n// Convert Data -> Array<Object>\nlet final_result = [];\nfor (const entry of final_data.datas) {\n    let mapped_item = {};\n    for (let i = 0; i < final_data.fields.length; i++) {\n        // @ts-ignore\n        mapped_item[final_data.fields[i]] = entry[i];\n    }\n    final_result.push(mapped_item);\n}\n// @ts-ignore\nreturn final_result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -352
      ],
      "id": "26a907a6-5b6e-43d3-acd9-f3865870eef4",
      "name": "Combine All Data"
    },
    {
      "parameters": {
        "apiName": "stock_company",
        "params": {
          "parameters": {
            "inputMode": "json",
            "jsonParams": "={\n  \"offset\": {{ $json.offset || 0}},\n  \"limit\": 3000\n}"
          }
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-tushare.tushare",
      "typeVersion": 1,
      "position": [
        -688,
        -112
      ],
      "id": "20bc9cfc-6a0d-4d0c-8d50-67173e7a7d66",
      "name": "Tushare-StockInfo",
      "credentials": {
        "tushareApi": {
          "id": "ohNqE0FWsh5O26bj",
          "name": "Tushare account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tushare-StockInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Offset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Offset": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Tushare-StockInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Data": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tushare-StockInfo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcd52a46-e0d6-4032-be74-6c94731e3ecd",
  "meta": {
    "instanceId": "b496150841483df09747a25f479a6e6cb04c07854a3a873184d83eedf527a4e8"
  },
  "id": "O7irk2I9tkYNVdEC",
  "tags": []
}